:root {
  --fond-post: #a5438a;
  --gris-foncé: #212328;
  --gradiant: linear-gradient(145deg, #b81463 0%, #3672a7 100%);
}

body {
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  background: var(--gradiant);

  animation: "gradient 25s ease infinite";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  flex-grow: 1;
  text-align: left;
}

.right-elements {
  display: flex;
}

.connexion,
.inscription {
  margin-left: 10px;
}

.post {
  display: flex;
  margin: 2em;
}
.music {
  background-color: var(--fond-post);
  width: 100%;
  display: flex;
  padding: 1em;
  border-radius: 20px;
}
.music img {
  width: 10em;
  height: auto;
  border-radius: 10px;
}
.info {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: larger;
}
.evaluation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* ADD BUTTON */

html,
body {
  height: 100%;
  background-color: var(--gris-foncé);
}
.centered {
  display: flex;
  margin: 2em;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.plus {
  width: 50%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  height: 100px;
  background: var(--fond-post);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
